.header {
    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #2A2A2A;
}

.logo {
    position: absolute;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 312px;
    height: 61px;
    left: 19px;
    top: 31px;
    width: 200px;
    height: 300px;
    background: url(Logo.png) no-repeat;
    background-size: 100%;
}

.bar {
    position: absolute;
    width: 1374px;
    height: 42px;
    left: 361px;
    top: 41px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}

.SEARCH1 {
    position: absolute;
    width: 104px;
    height: 31px;
    left: 975px;
    top: 48px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
}

.search {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1695px;
    top: 48px;
    background: url(search.png) no-repeat;
    background-size: 100%;
}

.WishBlack {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1772px;
    top: 40px;
    background: url(WishBlack.png) no-repeat;
    background-size: 100%;
}

.Cart {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1845px;
    top: 39px;
    background: url(cartlogo1.png) no-repeat;
    background-size: 100%;
}

#Line {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 202px;
    border: 1px solid #000000;
}

.Title {
    position: absolute;
    width: 113px;
    height: 29px;
    left: 973px;
    top: 144px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.Home {
    position: absolute;
    width: 188px;
    height: 22px;
    left: 937px;
    top: 240px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.Home:hover {
    text-decoration: underline;
}

#BottomLine {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 999px;
    border: 1px solid #000000;
}

.About-us {
    position: absolute;
    width: 111px;
    height: 31px;
    left: 423px;
    top: 1040px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
    float: left;
}

.policies {
    position: absolute;
    width: 95px;
    height: 31px;
    left: 706px;
    top: 1040px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
    float: left;
}

.Ts-Cs {
    position: absolute;
    width: 89px;
    height: 31px;
    left: 973px;
    top: 1040px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.Contact-us {
    position: absolute;
    width: 133px;
    height: 31px;
    left: 1234px;
    top: 1040px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.Log-in {
    position: absolute;
    width: 76px;
    height: 31px;
    left: 1539px;
    top: 1040px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.Details {
    position: absolute;
    width: 109px;
    height: 31px;
    left: 723px;
    top: 319px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
}

.DetailsBox {
    position: absolute;
    width: 159px;
    height: 31px;
    left: 691px;
    top: 319px;
    background: #2A2A2A;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.ShippingBox {
    position: absolute;
    width: 159px;
    height: 31px;
    left: 947px;
    top: 319px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Shipping {
    position: absolute;
    width: 109px;
    height: 31px;
    left: 976px;
    top: 319px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.PaymentBox {
    position: absolute;
    width: 159px;
    height: 31px;
    left: 1203px;
    top: 319px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Payment {
    position: absolute;
    width: 109px;
    height: 31px;
    left: 1232px;
    top: 319px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.Line1 {
    position: absolute;
    width: 97px;
    height: 0px;
    left: 850px;
    top: 325px;
    border: 1px solid #000000;
}

.Line2 {
    position: absolute;
    width: 97px;
    height: 0px;
    left: 1106px;
    top: 325px;
    border: 1px solid #000000;
}

.Cancel {
    position: absolute;
    width: 90px;
    height: 31px;
    left: 887px;
    top: 890px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
}

.CancelBox {
    position: absolute;
    width: 159px;
    height: 31px;
    left: 852px;
    top: 890px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Next {
    position: absolute;
    width: 84px;
    height: 31px;
    left: 1090px;
    top: 890px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
}

.NextBox {
    position: absolute;
    width: 159px;
    height: 31px;
    left: 1042px;
    top: 890px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type=first] {
    position: absolute;
    width: 58px;
    height: 31px;
    left: 867px;
    top: 462px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #AEAEAE;
    position: absolute;
    width: 320px;
    height: 31px;
    left: 691px;
    top: 462px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type=second] {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 1155px;
    top: 462px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #AEAEAE;
    position: absolute;
    width: 320px;
    height: 31px;
    left: 1042px;
    top: 462px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type=email] {
    position: absolute;
    width: 76px;
    height: 31px;
    left: 989px;
    top: 531px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #AEAEAE;
    position: absolute;
    width: 671px;
    height: 31px;
    left: 691px;
    top: 531px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type=confirmemail] {
    position: absolute;
    width: 194px;
    height: 31px;
    left: 933px;
    top: 600px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #AEAEAE;
    position: absolute;
    width: 671px;
    height: 31px;
    left: 691px;
    top: 600px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type=mobilenumber] {
    position: absolute;
    width: 194px;
    height: 31px;
    left: 933px;
    top: 669px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    color: #AEAEAE;
    position: absolute;
    width: 671px;
    height: 31px;
    left: 691px;
    top: 669px;
    border: 1px solid #000000;
    box-sizing: border-box;
}