        .header {
            position: absolute;
            width: 100%;
            height: 117px;
            left: 0px;
            top: 0px;
            background: #2A2A2A;
        }
        
        .logo {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 312px;
            height: 61px;
            left: 19px;
            top: 31px;
            width: 200px;
            height: 300px;
            background: url(Logo.png) no-repeat;
            background-size: 100%;
        }
        
        .bar {
            position: absolute;
            width: 1374px;
            height: 42px;
            left: 361px;
            top: 41px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            font-family: Raleway;
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #FFFFFF;
            text-align: center;
        }
        
        .SEARCH1 {
            position: absolute;
            width: 104px;
            height: 31px;
            left: 975px;
            top: 48px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #FFFFFF;
        }
        
        .search {
            position: absolute;
            width: 28px;
            height: 28px;
            left: 1695px;
            top: 48px;
            background: url(search.png) no-repeat;
            background-size: 100%;
        }
        
        .WishBlack {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 1772px;
            top: 40px;
            background: url(WishBlack.png) no-repeat;
            background-size: 100%;
        }
        
        .Cart {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 1845px;
            top: 39px;
            background: url(Cart.png) no-repeat;
            background-size: 100%;
        }
        
        .Home {
            position: absolute;
            width: 75px;
            height: 31px;
            left: 423px;
            top: 144px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            float: left;
            color: #B958F6
        }
        
        .BoardGames {
            position: absolute;
            width: 164px;
            height: 31px;
            left: 668px;
            top: 144px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            float: left;
        }
        
        .Toys {
            position: absolute;
            width: 56px;
            height: 31px;
            left: 1004px;
            top: 144px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            float: left;
        }
        
        .Collectibles {
            position: absolute;
            width: 148px;
            height: 31px;
            left: 1230px;
            top: 144px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            float: left;
        }
        
        .Accessories {
            position: absolute;
            width: 147px;
            height: 31px;
            left: 1549px;
            top: 144px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            float: left;
        }
        
        #Line {
            position: absolute;
            width: 100%;
            height: 0px;
            left: 0px;
            top: 202px;
            border: 1px solid #000000;
        }
        
        #BottomLine {
            position: absolute;
            width: 100%;
            height: 0px;
            left: 0px;
            top: 999px;
            border: 1px solid #000000;
        }
        
        .About-us {
            position: absolute;
            width: 111px;
            height: 31px;
            left: 423px;
            top: 1040px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            float: left;
        }
        
        .policies {
            position: absolute;
            width: 95px;
            height: 31px;
            left: 706px;
            top: 1040px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            float: left;
        }
        
        .Ts-Cs {
            position: absolute;
            width: 89px;
            height: 31px;
            left: 973px;
            top: 1040px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
        }
        
        .Contact-us {
            position: absolute;
            width: 133px;
            height: 31px;
            left: 1234px;
            top: 1040px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
        }
        
        .Log-in {
            position: absolute;
            width: 76px;
            height: 31px;
            left: 1539px;
            top: 1040px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
        }
        
        .BestSellers {
            position: absolute;
            width: 169px;
            height: 22px;
            left: 696px;
            top: 229px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            text-decoration-line: underline;
            color: #000000;
        }
        
        .NewArrival {
            position: absolute;
            width: 169px;
            height: 22px;
            left: 965px;
            top: 232px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .ComingSoon {
            position: absolute;
            width: 169px;
            height: 22px;
            left: 1255px;
            top: 229px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Img1 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 180px;
            height: 180px;
            left: 403px;
            top: 328px;
            background: url(Pan.png) no-repeat;
            background-size: 100%;
        }
        
        .Img2 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 180px;
            height: 180px;
            left: 664px;
            top: 328px;
            background: url(AZ.png) no-repeat;
            background-size: 100%;
        }
        
        .Img3 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 180px;
            height: 180px;
            left: 925px;
            top: 328px;
            background: url(CN.png) no-repeat;
            background-size: 100%;
        }
        
        .Img4 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 176px;
            height: 176px;
            left: 1190px;
            top: 330px;
            background: url(Cat.png) no-repeat;
            background-size: 100%;
        }
        
        .Img5 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 179.01px;
            height: 180px;
            left: 1449px;
            top: 328px;
            background: url(TR.png) no-repeat;
            background-size: 100%;
        }
        
        .Img6 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 166px;
            height: 167px;
            left: 410px;
            top: 649px;
            background: url(SG.png) no-repeat;
            background-size: 100%;
        }
        
        .Img7 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 174px;
            height: 174px;
            left: 665px;
            top: 647px;
            background: url(SECRET.png) no-repeat;
            background-size: 100%;
        }
        
        .Img8 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 164px;
            height: 165px;
            left: 933px;
            top: 654px;
            background: url(EK.png) no-repeat;
            background-size: 100%;
        }
        
        .Img9 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 176px;
            height: 176px;
            left: 1192px;
            top: 646px;
            background: url(Cook.png) no-repeat;
            background-size: 100%;
        }
        
        .Img10 {
            position: absolute;
            width: 1440px;
            height: 117px;
            left: 0px;
            top: 0px;
            position: absolute;
            width: 165px;
            height: 165px;
            left: 1456px;
            top: 652px;
            background: url(Spot.png) no-repeat;
            background-size: 100%;
        }
        
        .Pan {
            position: absolute;
            width: 141px;
            height: 22px;
            left: 384px;
            top: 503px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P1 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 525px;
            top: 500px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 400px;
            top: 550px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 394px;
            top: 550px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish1 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 563px;
            top: 546px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .AZ {
            position: absolute;
            width: 74px;
            height: 27px;
            left: 684px;
            top: 501px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P2 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 759px;
            top: 500px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add2 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 670px;
            top: 549px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 664px;
            top: 549px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish2 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 832px;
            top: 545px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .CN {
            position: absolute;
            width: 171px;
            height: 27px;
            left: 908px;
            top: 505px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P3 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1061px;
            top: 500px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add3 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 926px;
            top: 549px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 920px;
            top: 549px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish3 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1089px;
            top: 545px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Cat {
            position: absolute;
            width: 101px;
            height: 27px;
            left: 1202px;
            top: 503px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P4 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1294px;
            top: 500px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add4 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1202px;
            top: 548px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1196px;
            top: 548px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish4 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1365px;
            top: 546px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Tick {
            position: absolute;
            width: 97px;
            height: 25px;
            left: 1459px;
            top: 503px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P5 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1561px;
            top: 500px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add5 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1465px;
            top: 548px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1459px;
            top: 548px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish5 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1637px;
            top: 546px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Sushi {
            position: absolute;
            width: 81px;
            height: 22px;
            left: 417px;
            top: 843px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P6 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 511px;
            top: 840px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add6 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 400px;
            top: 890px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 394px;
            top: 890px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish6 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 562px;
            top: 885px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Secret {
            position: absolute;
            width: 101px;
            height: 27px;
            left: 665px;
            top: 841px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P7 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 769px;
            top: 840px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add7 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 670px;
            top: 889px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 664px;
            top: 889px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish7 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 832px;
            top: 888px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .EX {
            position: absolute;
            width: 171px;
            height: 27px;
            left: 908px;
            top: 845px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P8 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1061px;
            top: 840px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add8 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 926px;
            top: 889px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 920px;
            top: 889px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish8 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1089px;
            top: 887px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Cook {
            position: absolute;
            width: 115px;
            height: 27px;
            left: 1188px;
            top: 843px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P9 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1301px;
            top: 844px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add9 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1202px;
            top: 888px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1196px;
            top: 888px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish9 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1365px;
            top: 887px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }
        
        .Spot {
            position: absolute;
            width: 97px;
            height: 25px;
            left: 1459px;
            top: 843px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .P10 {
            position: absolute;
            width: 85px;
            height: 41px;
            left: 1561px;
            top: 840px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
        }
        
        .Add10 {
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1465px;
            top: 888px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            color: #000000;
            position: absolute;
            width: 159px;
            height: 31px;
            left: 1459px;
            top: 888px;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
        .Wish10 {
            position: absolute;
            width: 41px;
            height: 36px;
            left: 1628px;
            top: 887px;
            background: url(Wish.png) no-repeat;
            background-size: 100%;
        }